.wrapper {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 20rem;
}

.base {
    position: absolute;
    z-index: -1;
}

.printImage {
    position: relative;
    top: 5rem;
}