.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    min-height: 100vh;
  }
  
  .listContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }